---
import SiteLayout from "../../layouts/SiteLayout.astro"

import { z } from "zod"

export function getStaticPaths() {
    return [
        { params: { topic: 'Plaek_Phibunsongkhram' }},
    ]
}

const { topic } = Astro.params
const data = await import(`../../../public/topics/${topic}.json`)

const Prompt = z.object({
    index: z.number(),
    type: z.literal("prompt"),
    message: z.array(z.string()).length(1)
})
const Response = z.object({
    index: z.number(),
    message: z.array(z.object({
        type: z.literal("p"),
        data: z.string()
    }))
})
const Chats = z.array(Prompt.or(Response))

const chats = Chats.parse(data.chats)
const title = `Talk ChatGPT Through ${topic?.replace("_", " ")}`
---

<SiteLayout title={title}>
			<article>
				{chats.map((elem) => {
					if ("type" in elem) {
						return <p>{elem.message[0]}</p>
					} else {
						return <blockquote>{elem.message.map((item) => {
                            return <p>{item.data}</p>
						})}</blockquote>
					}		
				})}
			</article>
</SiteLayout>